# Kredensial Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false

BITESHIP_API_KEY=
BITESHIP_BASE_URL=
BITESHIP_WAREHOUSE_ID=

SLEEKFLOW_API_KEY=